h2{
    font-family: 'Ubuntu', sans-serif;

}

div.tit{
    text-align: center;
}

input.text1{
    width: 244px;
    height: 40px;
}


input.text2{
    width: 244px;
    height: 40px;
}

input.text3{
    width: 244px;
    height: 40px;
}


input.text4{
    width: 244px;
    height: 40px;
}

.b1 {
    border: none;
    color: white;
    background-color: rgb(60, 168, 60);
    padding: 6px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }